<header id="layout_navigation">
    <nav>
        <p id="mini_logo">Employee Review System</p>
        <div id="auth_links">
            <a href="/">HOME</a>
            <a href="/users/sign-up">SIGN UP</a>
            <a href="/users/sign-in">SIGN IN</a>                       
        </div>
    </nav>
</header>