<link rel="stylesheet" href="/css/style.css"> 

<div class="main_container">
    <h3 id="main_heading">WELCOME TO THE EMPLOYEE REVIEW MANAGEMENT SYSTEM</h3>
    <div id="main_nav_links">
        <a href="/users/sign-up" id="admin_login">SIGN UP</a>
        <a href="/users/sign-in" id="admin_login">SIGN IN</a>
    </div>
</div>
    